/* AdminLogin.css */

/* Container */
.container {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
  }

  .container:hover{
    background-color: lightgray;
  }
  
  /* Title */
  .Admin {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form Section */
  .formsection {
    margin-bottom: 20px;
  }
  
  /* Label */
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    width: 320px;
  }
  
  /* Input */
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Button */
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Link */
  p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  