 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .admindashboard {
    height: 100vh;
    overflow: hidden; 
  }
  
  .background-video {
    width: 49%;
    height: 90%;
    object-fit: cover;
    border-top-right-radius: 280px;
    border-bottom-right-radius: 300px; 
  }

  .maincontent {
    width: 60%; 
    height: 100%;
    padding: 20px;
  }
